@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Outfit:wght@100..900&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

body {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
}

.header {
    background-color: #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    overflow-x: auto;
    height: 81px;
    width: 100%;
}

.logo-title {
    display: flex;
    align-items: center;
    gap: 6px;
}

.img {
    height: 30px;
    width: 30px;
}

.header h1 {
    font-size: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav_bar_ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    padding: 0;
}

.nav_bar a {
    text-decoration: none;
    padding: 8px 12px;
    color: #333;
    font-weight: bold;
}

.main_content {
    display: flex;
    gap: 2rem;
    padding: 2rem;
}

.left_panel {
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0.5,0,0.1);
}

.right_panel {
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    flex: 2;
}

.footer {
    background-color: aqua;
}