@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Outfit:wght@100..900&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    color: black;
}


body {
    height: 100%;
    width: 100%;
    background-color: #c7cacc;
}

header {
    height: 81px;
    display: flex;
    align-items: center;
    padding-inline: 20px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(5px);
    justify-content: space-between;
    width: 100%;
    background-color: white;
}

header div {
    color: black;
    text-transform: uppercase;
}

nav {
    width: 40%;
    font-weight: 900;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    justify-content: space-around;
    list-style-type: none;
    display: block;
    padding-inline: 10px;
    padding-block: 10px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.nav_mobile {
    display: none;
}

.aboutus-main {
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    margin-block: 10px;
}

.aboutus-nav {
    background-color: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(5px);
    width: 40%;
    height: 100%;
}

.aboutus-main-contain {
    background-color: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(5px);
    width: 60%;
    height: 100%;

}