@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Outfit:wght@100..900&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #E7EBEE;
    height: 100%;
    width: 100%;
}

header {
    height: 81px;
    display: flex;
    align-items: center;
    padding-inline: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    justify-content: space-between;
    width: 100%;
}

header div b {
    color: black;
    text-transform: uppercase;
}

main {
    display: flex;
    width: 100%;
}

form {
    width: 440px;
    padding-top: 12px;
    padding-inline: 10px;

}

.user-details,
.index-selection-for-choose {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    padding-inline: 10px;
    padding-top: 20px;
    padding-bottom: 40px;
    border-radius: 6px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.index-selection-for-choose {
    margin-top: 10px;
}

.user-profile {
    margin-top: 15px;
    margin-left: 20px;
    height: 110px;
    width: 105px;
    border: 1px solid black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.user-details-n-e-p {
    margin-left: 20px;
    margin-top: 15px;
    font-size: 16px;
}

.user-details-n-e-p>div {
    margin-bottom: 10px;
}

#user-profile-button {
    border: 1p solid black;
    background-color: transparent;
    padding-inline: 30px;
    padding-block: 8px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.control-hardware-navigation {
    padding-top: 20px;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.control-hardware-navigation>a {
    margin: 6px;
    color: #3A434D;
    padding-block: 12px;
    padding-inline: 20px;
    width: 230px;
    border: 5px solid transparent;
    border-left-color: #3A434D;
    font-weight: bold;
    background-color: transparent;
    font-size: 12px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: left;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.control-hardware-navigation>a:hover,
.control-hardware-navigation>a:active,
.control-hardware-navigation>a:focus {
    margin: 6px;
    padding-block: 12px;
    padding-inline: 20px;
    color: black;
    width: 230px;
    border: 5px solid transparent;
    border-left-color: #3456AB;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: left;
}

aside {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    width: 72%;
    padding-left: 10px;
    margin: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    height: 600px;
    overflow-y: auto;
}

.create-account {
    padding-top: 20px;
}

.create-account-heading {
    display: flex;
    border: 2px solid transparent;
    border-bottom-color: black;
    width: 89%;
    margin-left: 20px;
}

.create-account-box {
    margin-right: 10px;
    height: 15px;
    width: 16px;
    border-radius: 2px;
    background-color: #3456AB;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

#heading-subtitle {
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #3A434D;
}

#heading-title {
    height: 22px;
    display: flex;
    align-items: center;
}

.text-propmt {
    padding-inline: 20px;
    padding-top: 20px;
}

.text-propmt textarea {
    padding: 10px;
    width: 98%;
    border: 1.5px solid black;
    border-radius: 6px;
}

.button-adjust-ment {
    display: flex;
}

.camera-captured-images {
    padding-top: 20px;
}

.button-arrangment-for-url #button-for-url {
    height: 36px;
    background-color: transparent;
    color: black;
    width: 160px;
    border-radius: 6px;
    cursor: pointer;
}

#button-for-url:hover {
    background-color: #00FA9A;
    color: black;
}

#button-arrangment-for-delete {
    height: 36px;

    width: 160px;
    border-radius: 6px;
    cursor: pointer;
}

#button-arrangment-for-delete:hover {
    background-color: #F25E86;
}



.text-propmt .i {
    border: 1px solid black;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 6px;
    height: 40px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.live-farm-view,
.voice-massage {
    padding-top: 20px;
}

.live-stream-video {
    display: flex;
    margin-top: 14px;
}

.live-video-footage {
    margin-left: 20px;
}



.live-stream-video .live-video-footage {
    height: 450px;
    width: 550px;
    padding: 0;
}

.detected-img #detected-frame {
    height: 300px;
    width: 430px;
    margin-left: 10px;
}


.live-stream-video .live-video-footage img {
    width: 100%;
    height: 100%;
    border: none;
}

#text-propmt-button {
    padding-inline: 40px;
    padding-block: 10px;
    border-radius: 4px;
    cursor: pointer;
    background-color: white;
    text-transform: uppercase;
    font-size: 12px;
}

.live-farm-view {
    margin-top: -0px;
}

.user-profile-management {
    display: flex;
}

.ai-captured-images {
    padding-block: 20px;
}

.table-ai-captured-img {
    width: 96%;
    margin-left: 20px;
    display: flex;
}

.table-ai-captured-img>div {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.sr-img {
    width: 10%;

}

.ai-img {
    width: 50%;
}

.modify-button {
    width: 40%;
}

footer {
    background-color: white;
    color: #3A434D;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    height: 50px;
    margin-inline: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-inline: 20px;
}