@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Outfit:wght@100..900&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

body {
    background-color: #E7EBEE;
    height: 100%;
    width: 100%;
}

header {
    height: 81px;
    display: flex;
    align-items: center;
    padding-inline: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    justify-content: space-between;
    width: 100%;
}

header div b {
    color: black;
    text-transform: uppercase;
}

main {
    display: flex;
    width: 100%;
}

form {
    width: 500px;
    padding-top: 12px;
    padding-inline: 10px;

}

.user-details,
.index-selection-for-choose {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    padding-inline: 10px;
    padding-top: 20px;
    padding-bottom: 40px;
    border-radius: 6px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.index-selection-for-choose {
    margin-top: 10px;
}

.user-profile {
    margin-left: 20px;
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

.control-hardware-navigation {
    padding-top: 20px;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.control-hardware-navigation>button {
    margin: 6px;
    color: #3A434D;
    padding-block: 12px;
    padding-inline: 20px;
    width: 230px;
    border: 5px solid transparent;
    border-left-color: #3A434D;
    font-weight: bold;
    background-color: transparent;
    font-size: 12px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: left;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.control-hardware-navigation>button:hover,
.control-hardware-navigation>button:active,
.control-hardware-navigation>button:focus {
    margin: 6px;
    padding-block: 12px;
    padding-inline: 20px;
    color: black;
    width: 230px;
    border: 5px solid transparent;
    border-left-color: #3456AB;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: left;
}

aside {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    width: 66%;
    padding-left: 10px;
    margin: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    height: 600px;
    overflow-y: auto;
}

.create-account {
    padding-top: 20px;
}

.create-account-heading {
    display: flex;
    border: 2px solid transparent;
    border-bottom-color: black;
    width: 94%;
    margin-left: 20px;
}

.create-account-box {
    margin-right: 10px;
    height: 15px;
    width: 16px;
    border-radius: 2px;
    background-color: #3456AB;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

#heading-subtitle {
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #3A434D;
}

#heading-title {
    height: 22px;
    display: flex;
    align-items: center;
}

.text-propmt {
    padding-inline: 20px;
    padding-top: 20px;
}

.text-propmt textarea {
    padding: 10px;
    width: 98%;
}

.live-farm-view,
.voice-massage {
    padding-block: 20px;
    margin-block: 10px;
}

#text-propmt-button {
    padding-inline: 40px;
    padding-block: 10px;
    border-radius: 4px;
    cursor: pointer;
    background-color: white;
    text-transform: uppercase;
    font-size: 12px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.live-farm-view {
    margin-top: -0px;
}

footer {
    background-color: white;
    color: #3A434D;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    height: 50px;
    margin-inline: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-inline: 20px;
}